<h1><%= @user.username %></h1>

<% follow_req = FollowRequest.where({ :sender_id => current_user.id, :recipient_id => @user.id }).at(0) %>

<% if follow_req != nil %>
  <a href="/delete_follow_request/<%= follow_req.id %>">
    Unfollow
  </a>
<% else %>
  <form action="/create_follow_request_record">
    <input type="hidden" name="sender_id" value="<%= current_user.id %>">

    <input type="hidden" name="recipient_id" value="<%= @user.id %>">

    <button>Follow <%= @user.username %></button>
  </form>
<% end %>

<dl>
  <dt>Followers</dt>
  <dd><%= @user.followers.count %></dd>

  <dt>Following</dt>
  <dd><%= @user.following.count %></dd>
</dl>

<nav>
  <ul>
    <li><a href="/users/<%= @user.id %>">Own photos</a></li>
    <li><a href="/users/<%= @user.id %>/liked">Liked photos</a></li>
    <li><a href="/users/<%= @user.id %>/feed">Feed</a></li>
    <li><a href="/users/<%= @user.id %>/discover">Discover</a></li>
    <li><a href="/users/<%= @user.id %>/followers">Followers</a></li>
    <li><a href="/users/<%= @user.id %>/following">Following</a></li>
  </ul>
</nav>
