<h1><%= @user.username %></h1>

<nav>
  <ul>
    <li><a href="/users/<%= @user.id %>">Own photos</a></li>
    <li><a href="/users/<%= @user.id %>/liked">Liked photos</a></li>
    <li><a href="/users/<%= @user.id %>/feed">Feed</a></li>
    <li><a href="/users/<%= @user.id %>/discover">Discover</a></li>
  </ul>
</nav>

<h2>Followers (<%= @user.followers.count %>)</h2>

<ul>
  <% @user.accepted_received_follow_requests.order({ :created_at => :asc }).each do |follow_request| %>
    <li>
      <%= follow_request.sender.username %>

      <form action="/update_follow_request_record/<%= follow_request.id %>">
        <input type="hidden" name="new_status" value="rejected">

        <button>Reject</button>
      </form>
    </li>
  <% end %>
</ul>

<h2>Pending received requests (<%= @user.received_follow_requests.where({ :status => "pending" }).count %>)</h2>

<ul>
  <% @user.received_follow_requests.where({ :status => "pending" }).each do |follow_request| %>
    <li>
      <%= follow_request.sender.username %>

      <form action="/update_follow_request_record/<%= follow_request.id %>">
        <input type="hidden" name="new_status" value="accepted">

        <button>Accept</button>
      </form>

      <form action="/update_follow_request_record/<%= follow_request.id %>">
        <input type="hidden" name="new_status" value="rejected">

        <button>Reject</button>
      </form>
    </li>
  <% end %>
</ul>

<h2>Rejected received requests (<%= @user.received_follow_requests.where({ :status => "rejected" }).count %>)</h2>

<ul>
  <% @user.received_follow_requests.where({ :status => "rejected" }).each do |follow_request| %>
    <li>
      <%= follow_request.sender.username %>

      <form action="/update_follow_request_record/<%= follow_request.id %>">
        <input type="hidden" name="new_status" value="accepted">

        <button>Accept</button>
      </form>
    </li>
  <% end %>
</ul>
