<%= render("users/details_nav.html.erb") %>

<h2>Following (<%= @user.following.count %>)</h2>

<ul>
  <% @user.accepted_sent_follow_requests.order({ :updated_at => :asc }).each do |follow_request| %>
    <li><%= follow_request.recipient.username %></li>
  <% end %>
</ul>

<% if @user == current_user %>
  <h2>Pending sent requests (<%= @user.sent_follow_requests.where({ :status => "pending" }).count %>)</h2>

  <ul>
    <% @user.sent_follow_requests.where({ :status => "pending" }).each do |follow_request| %>
      <li><%= follow_request.recipient.username %></li>
    <% end %>
  </ul>
<% end %>
